h1 {
    text-align: center;
    padding-top: 1em;
}

body {
    background-color: #B3D2B2;
}

@media screen and (max-width: 768px) { 
    .center {
        /* margin:0; */
        border: .25em solid #FFFD98;
        padding: 1em;
        margin: 2em;
        
    }
}



.center label, input {
    display: inline;
}